
  <body style="font-size: 8px">

	<div class="container">
        


         <div class="row">
        		

        		<div >
        			 <center><img src="https://z-p3-scontent.fdla2-1.fna.fbcdn.net/v/t1.0-9/20993948_1416535768461964_3717877788399517102_n.jpg?oh=13c128528d6ab3b27c187fa89f014c8c&oe=5A601946" alt="GTW" width="100px" /></center>
        		</div>
        </div>
        <div class="row">
               <center> <h4> FICHE DE DEPLACEMENT D'EQUIPEMENT </h4></center>
        </div>
       

                       <center> <h4> DEPLACEMENT </h4></center>


        <center>
        	<table border="1" width="80%">
        		<tr>
        				<th> AGENCE DE DEPART </th> <td> {{move.agencyBegin.name}}</td>
        		</tr>
        		<tr>
        				<th> AGENCE D' ARRIVEE </th> <td> {{move.agencyEnd.name}}</td>
        		</tr>
        		<tr>
        				<th> INTERVENANT GALILEO </th> <td> {{move.technician.name}} </td>
        		</tr>
        		<tr>
        				<th> DATE </th> <td> {{move.confirmDate.date}} </td>
        		</tr>
        	</table>
        </center>

   

                               <center> <h4> EQUIPEMENT </h4></center>


        <center>
        	<table border="1" width="80%">
        		<tr>
        				<th> TYPE EQUIPEMENT </th> <td> {{move.equipments.type.name}}</td>
        		</tr>
        		<tr>
        				<th> NUMERO DE SERIE </th> <td> {{move.equipments.serial}}</td>
        		</tr>
        		<tr>
        				<th> MARQUE </th> <td> {{move.equipments.marque}}</td>
        		</tr>
        		<tr>
        				<th> MODEL </th> <td> {{move.equipments.model}}</td>
        		</tr>
        		<tr>
        				<th colspan="2"> DESCRIPTION </th> 
        		</tr>
        		<tr>
        				 <td colspan="2"><center> {{move.equipments.description}} </center></td>
        		</tr>
        	</table>
        </center>

        <br><br>

        <div class="row">
        		<div style="float: left; margin: auto;">
        			 <center><b>INTERVENANT GALILEO</b></center>
        		</div>

        		<div style="float: right; margin: auto;">
        			 <center><b>DIRECTION</b></center>
        		</div>

                <br><br><br><br><br><br><br><br>
        </div>

	</div>


    <hr>


    <div class="container">
        


         <div class="row">
                

                <div >
                     <center><img src="https://z-p3-scontent.fdla2-1.fna.fbcdn.net/v/t1.0-9/20993948_1416535768461964_3717877788399517102_n.jpg?oh=13c128528d6ab3b27c187fa89f014c8c&oe=5A601946" alt="GTW" width="100px" /></center>
                </div>
        </div>
        <div class="row">
               <center> <h4> FICHE DE DEPLACEMENT D'EQUIPEMENT </h4></center>
        </div>
       

                       <center> <h4> DEPLACEMENT </h4></center>


        <center>
            <table border="1" width="80%">
                <tr>
                        <th> AGENCE DE DEPART </th> <td> {{move.agencyBegin.name}}</td>
                </tr>
                <tr>
                        <th> AGENCE D' ARRIVEE </th> <td> {{move.agencyEnd.name}}</td>
                </tr>
                <tr>
                        <th> INTERVENANT GALILEO </th> <td> {{move.technician.name}} </td>
                </tr>
                <tr>
                        <th> DATE </th> <td> {{move.confirmDate.date}} </td>
                </tr>
            </table>
        </center>

   

                               <center> <h4> EQUIPEMENT </h4></center>


        <center>
            <table border="1" width="80%">
                <tr>
                        <th> TYPE EQUIPEMENT </th> <td> {{move.equipments.type.name}}</td>
                </tr>
                <tr>
                        <th> NUMERO DE SERIE </th> <td> {{move.equipments.serial}}</td>
                </tr>
                <tr>
                        <th> MARQUE </th> <td> {{move.equipments.marque}}</td>
                </tr>
                <tr>
                        <th> MODEL </th> <td> {{move.equipments.model}}</td>
                </tr>
                <tr>
                        <th colspan="2"> DESCRIPTION </th> 
                </tr>
                <tr>
                         <td colspan="2"><center> {{move.equipments.description}} </center></td>
                </tr>
            </table>
        </center>

        <br><br>

        <div class="row">
                <div style="float: left; margin: auto;">
                     <center><b>INTERVENANT GALILEO</b></center>
                </div>

                <div style="float: right; margin: auto;">
                     <center><b>DIRECTION</b></center>
                </div>
        </div>

    </div>


</body>



