{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block list_header %}

  <marquee><b> ICI VOUS RETROUVEREZ LA PRODUCTION PAR GDS, AGENCES, COMPAGNIES AERIENNES ET PAR JOUR | G.T.W  </b> </marquee>

  <br>

{% endblock %}