<html>

	<head>
		<title>Galileo | Rapport par Agence</title>
	</head>
	<body style="margin: auto; text-align: center;">
	    <div class="header hidden-xs hidden-sm">
	        <div class="container">
	            <div class="row">
	            	<div class="col-md-3">
	            		 <img src="https://yt3.ggpht.com/-RWcqQXy_5p0/AAAAAAAAAAI/AAAAAAAAAAA/YqKC5YHx9S0/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="GTW" />
	            	</div>
	            	<div class="col-md-6">
	            		<h3>HISTORIQUE DES VENTES</h3>
	            	</div>
	            </div>
	            <h1></h1>
	        </div>
    	</div>
        <h2>{{user.name}}</h2>
        <table border="1" style="text-align: center; margin: auto">
        	<tr>
        	    <th>Date</th>
        		<th>PNR</th>
        		<th>Détails</th>
        		<th>Emis</th>
        		<th>Segments</th>
        	</tr>
			{% for b in booking %}
			<tr>
			    <td> {{b.date | date}} </td>
				<td> {{b.pnr}} </td>
				<td> {{b.description}}</td>
				{% if b.lieu %}
                 <td> En Compagnie ({{b.company.code}})</td>
                {%else%}
                 <td> {{b.agencyiata.name}}</td>
				{% endif %}
				<td> {{b.nbSegment}}</td>
				
			{% endfor %}
		</table>
	</body>


</html>