<html>

	<head>
		<title>Galileo | Rapport par Agence</title>
	</head>
	<body style="margin: auto; text-align: center;">
        <h2> Rapport Annulation par Compagnie Aerienne de {{begin}} a {{end}}</h2>
        <table border="1" style="text-align: center; margin: auto">
        	<tr>
        	    <th>Code</th>
        		<th>Ville</th>
        		<th>AMA</th>
        		<th>GAL</th>
        		<th>SAB</th>
        		<th>TOTAL</th>
        		<th>%GAL</th>
        	</tr>
			{% for result in resultat %}
			<tr>
			    <td> {{result.company.code}} </td>
				<td> {{result.company.name}} </td>
				<td> {{result.ama}}</td>
				<td> {{result.gal}} </td>
				<td> {{result.sab}} </td>
				<td> {{result.ama + result.gal + result.sab }}</td>
				{% if result.ama + result.gal + result.sab != 0%}
                 <td> {{ (result.gal / (result.ama + result.gal + result.sab)) * 100 }}
				{% endif %}
			{% endfor %}
		</table>
	</body>


</html>