<html>

   <head>
   </head>

   <body>

   		<table border="1">

   			<tr>
   			  <td> ID </td>
   			  <td> Operator </td>
   			  <td> Agency </td>
   			  <td> Town </td>
   			  <td> Company </td>
   			  <td> Segment </td>
   			</tr>
   			{% for result in resultat %}
   			<tr>
   				<td> {{result.id}}</td>
   				<td> {{result.operator.code}}</td>
   				<td> {{result.agency.name}}</td>
   				<td> {{result.agency.town.code}}</td>
   				<td> {{result.company.name}}</td>
   				<td> {{result.segment}}</td>
   			</tr>
   			{% endfor %}

   		</table> 

   <body>

</html>