<html>

	<head>
		<title>Galileo | Rapport par Agence</title>
	</head>
	<body style="margin: auto; text-align: center;">
	     <div class="header hidden-xs hidden-sm">
	        <div class="container">
	            <div class="row">
	            	<div class="col-md-3">
	            		 <img src="https://yt3.ggpht.com/-RWcqQXy_5p0/AAAAAAAAAAI/AAAAAAAAAAA/YqKC5YHx9S0/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="GTW" />
	            	</div>
	            	<br><br><br><br>
	            	<div class="col-md-6">
	            		<h3>{{user.name}}</h3>
	            	</div>
	            </div>
	            <h1></h1>
	        </div>
    	</div>
        <h2> Votre solde est de</h2>
        <h1>{{user.solde}} FCFA</h1>
        
	</body>


</html>