<html>

	<head>
		<title>Galileo | Rapport par Agence</title>
	</head>
	<body style="margin: auto; text-align: center;">
	    <div class="header hidden-xs hidden-sm">
	        <div class="container">
	            <div class="row">
	            	<div class="col-md-3">
	            		 <img src="https://yt3.ggpht.com/-RWcqQXy_5p0/AAAAAAAAAAI/AAAAAAAAAAA/YqKC5YHx9S0/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="GTW" />
	            	</div>
	            	<div class="col-md-6">
	            		<h3>GALILEO TRAVELPORT WOLDSPAN</h3>
	            	</div>
	            </div>
	            <h1></h1>
	        </div>
    	</div>
        <h2> Rapport par Ville de {{begin}} a {{end}}</h2>
        <table border="1" style="text-align: center; margin: auto">
        	<tr>
        		<th>Ville</th>
        		<th>AMA</th>
        		<th>GAL</th>
        		<th>SAB</th>
        		<th>TOTAL</th>
        		<th>%GAL</th>
        	</tr>
			{% for result in resultat %}
			<tr>
				<td> {{result.town.name}} </td>
				<td> {{result.ama}}</td>
				<td> {{result.gal}} </td>
				<td> {{result.sab}} </td>
				<td> {{result.ama + result.gal + result.sab }}</td>
				{% if result.ama + result.gal + result.sab != 0%}
                 <td> {{ (result.gal / (result.ama + result.gal + result.sab)) * 100 }}
				{% endif %}
			{% endfor %}
			<tr>
				<td> TOTAL </td>
				<td>{{ama}} </td>
				<td>{{gal}} </td>
				<td>{{sab}} </td>
				<td>{{total}} </td>
				<td>{{(gal/total)*100}} </td>
			</tr>
		</table>

	</body>


</html>